html,body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

/*轮播图*/
@media all and (max-width: 480px){

    .topCarouselImg{
        height: 18rem;
        width: 100%;
    }
}
@media all and (min-width: 480px){
    .topCarouselImg{
        height: 24rem;
        width: 100%;
    }
    /*.view-container{*/
    /*width: 48rem;*/
    /*}*/

}
.topCarousel{
    position: relative;
    width: 100%;

}
.topCarousel .slider-pager{
    text-align: right;
    padding-right: 2rem;
    padding-top: .5rem;
    /*height: 3rem;*/
}

.topCarousel .slider-pager-page{
    width: .2rem;
}
.slider-pager .slider-pager-page {
    opacity: .1;
}
.topCarousel .ion-record::before{
    content: '•';
    font-size: 1.8rem;
    color: white;
}


html,body,.scroll{
    -webkit-user-select:auto;
}
div #rong-conversation{
    left: 0;
}
div#rong-widget-minbtn{

    width:6rem;
    height:6rem;
}
.rongcloud-kefuBtn .rongcloud-people{
    display: none;
}
#rong-widget-minbtn{
    background:url("../images/peo.png") no-repeat  center/100%;
}
.rongcloud-kefuChat #header{
    background: #E60012;
}

.tab-item-active{
     background: rgb(230,0,18);
     color: white;
 }
.tuijain{
    width: 100%;
    margin: .5rem 0;
    text-align: center;
}
.tuijain img{
    width: 15rem;
}
.contt{
    width: 100%;
    height: 100%;
}
.XD{
    width: 47%;
    height: 15rem;
    margin-left: .5rem;
    margin-top: .5rem;
    background: lightgray;
    display: inline-block;
 }
.XD img{
    width: 70%;
    height: 9rem;
    display: block;
    margin: auto;
    padding-top: .5rem;
}
.XE{
    width: 100%;
    height: 6rem;
    background: white;
    font-size: 1rem;
    font-family: '黑体';
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
}
.XE>span{
    display: block;
    margin: 0 .3rem;
}
.GT{
    width: 100%;
    height: 2rem;
}
.GT>span:nth-of-type(1){
    font-size: 2rem;
    padding-top: .5rem;
    color: red;
}
.GT>span:nth-of-type(1)::before{
    content: '¥';
    font-size: 1.6rem;
    font-family: '微软雅黑';
    padding-left: .5rem;
}
/*div样式*/
/*.GT>div{*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*background: rgb(230,0,18);*/
    /*color: white;*/
    /*text-align: center;*/
    /*line-height: 25px;*/
    /*border-radius: 50%;*/
    /*font-size: 18px;*/
    /*margin-right: .5rem;*/
    /*float: right;*/
/*}*/
/*button样式*/
.GT>div{
    width: 30px;
    height: 15px;
    border-radius: 50%;
    margin-right: .5rem;
    float: right;
}