<ion-view>
    <!--搜索框导航-->
    <ion-header-bar style="width:100%">
        <!--logo-->
        <img ng-src="images/logo.png" style="width: 5rem">
        <!--搜索框-->
        <label class="item item-input" style="border-radius: 3rem;width: 70%;margin-left: 1rem;">
            <input type="text" placeholder="例 : 大闸蟹">
            <a class="button button-stable button-clear icon ion-ios-search" style="margin-right: 1rem"></a>
        </label>
        <a class="button button-clear button-stable" style="margin-left: 1rem" menu-toggle="right">
            <i class="icon ion-navicon"></i>
        </a>
    </ion-header-bar>


    <!--首页内容-->
    <ion-content style="background:rgb(238,238,238)">
        <!--轮播图-->
        <div style="width: 100%;height: 13rem;background: pink" ng-repeat="qwe in qwes | limitTo:1">

            <ion-slide-box active-slide="myActiveSlide" auto-play="true" does-continue="true" slide-interval="1500">
                <ion-slide style="height:13rem;background: url('{{'http://114.112.94.166' + qwe.image_url}}');width: 100%;background-size: 100% 100%">
                    <!--<img ng-src="{{'http://114.112.94.166' + qwe.image_url}}">;-->
                </ion-slide>
                <ion-slide style="height:13rem;background: url('{{'http://114.112.94.166' + qwe.image_url}}');width: 100%;background-size: 100% 100%">
                    <!--<img ng-src="{{'http://114.112.94.166' + qwe.image_url}}">;-->
                </ion-slide>
                <ion-slide style="height:13rem;background: url('{{'http://114.112.94.166' + qwe.image_url}}');width: 100%;background-size: 100% 100%">
                    <!--<img ng-src="{{'http://114.112.94.166' + qwe.image_url}}">;-->
                </ion-slide>
            </ion-slide-box>
        </div>

        <!--推荐-->
        <div class="tuijain">
            <img ng-src="images/tui.png">
        </div>

        <!--内容-->
        <div class="contt">
            <div ng-repeat="con in cons" class="XD">
                <!--图片的样式-->
                <img ng-src="{{'http://114.112.94.166' + con.goods_introduction}}" ng-click="goToNewsDetail()">
                <div class="XE">
                    <!--照片的描述-->
                    <span ng-click="goToNewsDetail()">{{con.goods_name | limitTo:21}}...</span>
                    <div class="GT">
                        <!--价格-->
                        <span>{{con.shop_price}}</span>
                        <span style="text-decoration: line-through;opacity: .6">￥{{con.market_price}}</span>
                        <!--<div>-->
                            <!--<i class="icon ion-ios-cart"></i>-->
                        <!--</div>-->
                        <!--购物车图标-->
                        <div class="button button-assertive button-small" ng-click="openModal()">
                            <i class="icon ion-ios-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>