<ion-view>
    <ion-content style="background: rgb(238,238,238)">
        <!--<button class="button button-assertive" ng-click="goBack()">回去吧</button>-->
        <!--总积分的样式-->
        <div class="ZO">
            <span>总计积分:3800积分</span>
            <div>兑换</div>
        </div>
        <div>
            <span>积分收入明细</span>
        </div>
        <!--积分的item-->
        <ion-list ng-repeat="int in ints" class="JF">
            <ion-item>
                <span>{{int.title}}</span>
                <span>+{{int.totalIntegral}}</span>
                <p>{{int.addTime}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>