<ion-modal-view>
    <!--<button class="button button-assertive" ng-click="closeModal()">关闭</button>-->
    <!--modal弹出框-->
    <div class="mod">
        <!--商品的购买-->
        <div class="mod1" ng-repeat="con in cons | limitTo:1">
            <img ng-src="{{'http://114.112.94.166' + con.goods_introduction}}">
            <div class="mod2">
                <span class="item-text-wrap">{{con.goods_name}}</span>
                <p>￥{{con.shop_price}}/件</p>
                <span>库存{{con.goods_number}}件</span>
            </div>
        </div><hr>

        <!--数量-->
        <div class="numm">
            <span>数量</span>
            <div class="RA">
                <img ng-src="images/shoppingReduce.png" ng-click="reduce()">
                <div id="num">1</div>
                <img ng-src="images/shoppingAdd.png" ng-click="add()">
            </div>
        </div>
        <!--加入购物车或购买-->
        <div class="bott">
            <div class="lef">加入购物车</div>
            <div class="rig">立即购买</div>
        </div>
    </div>
</ion-modal-view>