<ion-view view-title="我的">
    <ion-content style="background:rgb(238,238,238)" scroll="false">

        <!--登陆的头像-->
        <div class="loog">
            <img ng-src="images/head.jpg">
            <div>
                <span>你有梦想吗？</span>
                <p>3800积分</p>
            </div>

        </div>

        <!--订单与收藏-->
        <div class="item BOY">
            <div style="float: left" class="button button-clear" ng-click="goOrder()">
                <img ng-src="images/cang.png">
                <p>我的订单</p>
            </div>
            <div></div>
            <div style="float: right" class="button button-clear" ng-click="goCollect()">
                <img ng-src="images/star.png">
                <p>我的收藏</p>
            </div>
        </div>

        <!--列表内容-->
        <ul>
            <li ng-click="goShoppingCar()">
                <img ng-src="images/shoppingCar.png">
                <span>我的购物车</span>
                <i class="icon ion-ios-arrow-right"></i>
            </li>
            <li ng-click="goIntegral()">
                <img ng-src="images/credit.png">
                <span>我的积分</span>
                <i class="icon ion-ios-arrow-right"></i>
            </li>
            <li ng-click="goAddress()">
                <img ng-src="images/address.png">
                <span>收货地址</span>
                <i class="icon ion-ios-arrow-right"></i>
            </li>
            <li ng-click="goPayment()">
                <img ng-src="images/pay.png">
                <span>支付记录</span>
                <i class="icon ion-ios-arrow-right"></i>
            </li>
            <li ng-click="goRecommend()">
                <img ng-src="images/concern.png">
                <span>推荐关注</span>
                <i class="icon ion-ios-arrow-right"></i>
                <a class="item-note">推荐好友关注送积分</a>
            </li>
        </ul>
    </ion-content>
</ion-view>